/* 10단원 */
.jb-division-line {
    border-bottom: 1px solid #444444;
    margin: 0px;
}

.section p {
    width: 500px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border: 1px solid #444444;
    line-height: 2;
}

section > p{
    font-size: 12px;
    color:rgb(255, 255, 255);
}

.navi {
    width: 500px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #000000;
    line-height: 2;
}

.navi ul {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 5px;
}

/* .navi ul li {
    float: left;
    width: 100px;
    padding: 10px;
} */

.navi a:link, navi a:visited {
    display: block;
    font-size: 16px;
    color: aquamarine;
    padding: 10px;
    text-decoration: none;
    text-align: left;
}

.navi a:hover, navi a:focus {
    background-color: #444444;
    color: blue;
}

.navi a:active {
    background-color: azure;
}

.contents {
    margin: 30 auto;
    width: 480px;
    padding: 20px;
    border: 1px solid #444444;
    border-radius: 1px;
    margin-top: 10px;
}

.contents :nth-child(2) {
    background-color: blanchedalmond;
}


/* 11단원 */
.container1{
    width:800px;
    margin-bottom: 10px;
    margin-top: 10px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.box3, .origin, .ani {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    
}
.box img, .origin img {
    width: 100;
    height: auto;
}

.box:hover {
    transform: translate(100px);
}

#rotate:hover {
    transform: rotate(40deg);
}

#ani1 {
    animation-name: shape;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes shape {
    from {
        border: 1px solid transparent;
    }
    to {border: 1px solid #444444;
    border-radius: 50%;}
}

/* 12단원 */
.container2 {
    display: flex;
    background-color: antiquewhite;
    border: 1px solid #444444;
    margin-bottom: 10px;
}

#opt1{
    flex-flow: row wrap;
}

#opt2{
    flex-flow: row nowrap;
}

.box1 {
    padding: 10px 45px;
    margin: 10px;
    background-color: azure;
}

.p{
    color: aliceblue;
    text-align: left;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.img {
    background: url(이미지2.jpg) no-repeat left top fixed;
    background-size: cover;
    width: 500px;
    height: 500px;
    position: relative;
}

.img button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#grid {
    width: 700;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-template-areas:
    "box1 box1 box1"
    "box2 box3 box3"
    "box2 . box4";
}

.box {
    padding:15px;
    color:#fff;
    font-weight:bold;
    text-align:center;
  }

.box4 {
    background-color:#3689ff;
        grid-area:box1;
}

.box5 {
    background-color:#ff0000;
        grid-area:box2;
}

.box6 {
    background-color:#a6ff00;
        grid-area:box3;
}

.box7 {
    background-color:#4c00ff;
        grid-area:box4;
}

